<%- include("header") -%>

<div class="col-md-6 mx-auto other-details">
    <div class="text">
        <h1>
            About us
        </h1>
        <p1>
            Rishabh Mathur<br>
            Web Intern at sparks foundation 
        </p1>

    </div>

    <div class="text">
        
        <h1 >OUR PROFILES</h1>
        <div >
            <a href="https://www.linkedin.com/in/rishabh-mathur-0274b11b2"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/RishabhMathur980"><i class="fab fa-github-square"></i></a>
            <a href="https://www.instagram.com/mathurrishabh19?r=nametag"><i class="fab fa-instagram-square"></i></a>
            <a href="https://twitter.com/Rishabh00011075?s=08"><i class="fab fa-twitter-square"></i></a>
        </div>
    </div>
</div>

<%- include("footer") -%>